[data-toggle=slide] {
  cursor: pointer;
}

span.alert-danger, span.alert {
  position: relative;
  padding: 0 !important;
  margin-bottom: 0 !important;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent !important;
}

.dataTables_wrapper .dataTables_paginate .page-item.previous .page-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.w100 {
  width: 100% !important;
}

table .btn {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.select2-search__field {
  outline: 0 !important;
}
